<template>
  <div class="row h-100">
    <div class="col-sm-12 align-self-center">
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
          <h3 class="title__shadow text-center text-white font-weight-bold">Descubra a melhor solução para você!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="full-bar">
            <div class="container">
              <div class="row mt-4">
                <div class="col-md-6 align-self-center pr-5">
                  <img
                    src="../../assets/logo.png"
                    class="img-fluid float-right"
                    alt="Logo Ecovoltaica">
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col">
                      <p class="text-justify font-weight-lighter">Em média, quanto você paga mensalmente por energia?</p>
                    </div>
                  </div>
                  <CalculationForm :formData="formData" @eventsuccessform="updateCurrentStep" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CalculationForm from '../widgets/CalculationForm'

export default {
  components: { CalculationForm },
  props: {
    formData: Object
  },
  data: () => ({}),
  methods: {
    updateCurrentStep() {
      this.$emit('eventupdatestep', 1)
    }
  }
};
</script>
