<template>
  <div class="second-step-view h-100">
    <div class="container">
      <Header title="Encontramos o melhor kit para você!" />
    </div>
    <div class="container-fluid p-0 mt-3">
      <div class="bar">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col align-self-center offset-md-4">
              <CalculationForm :inline="true" :formData="formData" @eventresetform="eventResetForm" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 p-0 card__image">
            <b-card-img-lazy
              src="http://lorempixel.com/g/500/300/technics/"
              alt="Image"
              class="h-100"
              rounded="0"
              />
          </div>
          <div class="col mt-5">
            <div class="row mb-5" v-show="specialProject">
              <div class="col justify-content-start">
                <h5 class="font-weight-bold w-50 product-box__title">Projetos personalizados</h5>
                <p class="font-weight-light text-muted mt-4">
                  <small>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</small>
                </p>
              </div>
            </div>
            <div class="row" v-show="!specialProject">
              <div class="col justify-content-start">
                <h5 class="font-weight-bold product-box__title">Kit básico + instalação</h5>
                <p class="font-weight-light text-muted mt-4"><small>Esta linha deve ser usada para letras com tamanhos menores.</small></p>
                <dl class="row">
                  <dt class="col-md-6 pr-0 small font-weight-bold">Área necessária:</dt>
                  <dd class="col-md-6 small m-0">20m2</dd>

                  <dt class="col-md-6 pr-0 small font-weight-bold">Número de placas:</dt>
                  <dd class="col-md-6 small m-0">15</dd>

                  <dt class="col-md-6 pr-0 small font-weight-bold">Peso:</dt>
                  <dd class="col-md-6 small m-0">760Kg</dd>
                </dl>
              </div>
              <div class="col">
                <b-form id="form-payment-method">
                  <b-form-group>
                    <b-form-radio
                      v-for="(option, optionIndex) in paymentMethods"
                      v-model="formData.paymentMethodSelected"
                      :value="option.value"
                      :key="optionIndex"
                      name="paymentMethod"
                      size="sm">
                      <span
                        :class="[formData.paymentMethodSelected === option.value ? 'font-weight-bold' : '']">
                        {{ option.text }}
                      </span>
                    </b-form-radio>
                  </b-form-group>
                </b-form>
              </div>
            </div>
            <div class="row mt-4">
              <ContactForm @eventsuccessform="updateCurrentStep" :formData="formData" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.second-step-view {
  .container-fluid {
    background: white;
    height: calc(100% - 15vh);

    .bar {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

      min-height: 60px;
      height: 8vh;
      background: rgb(84,175,150);
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        height: 10px;
        width: 100%;
        background: rgb(253,205,0);
      }
    }

    .card {
      &__image {
        margin-top: -7vh;

        border-top: 1px gray solid;
        border-right: 1px gray solid;
        border-left: 1px gray solid;

        &:after {
          content: '';
          position: absolute;
          left: -1px;
          bottom: -10px;
          height: 10px;
          width: calc(100% + 2px);
          background: rgb(253,205,0);
        }

        img {
          object-fit: cover;
        }
      }
    }

    .product-box {
      &__title {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -10px;
          height: 5px;
          width: 50%;
          background: rgb(253,205,0);
        }
      }
    }
  }
}
</style>

<script>
import CalculationForm from '../widgets/CalculationForm'
import ContactForm from '../widgets/ContactForm'
import Header from '../widgets/Header'

export default {
  components: {
    CalculationForm,
    ContactForm,
    Header
  },
  props: {
    specialProject: {
      type: Boolean,
      default: false
    },
    formData: Object
  },
  data() {
    return {
      paymentMethods: [
        {
          value: 1,
          text: '1x de R$ 12.000,00'
        },
        {
          value: 2,
          text: '12x de R$ 1.000,00'
        },
        {
          value: 3,
          text: '24x de R$ 500,00'
        }
      ],
    }
  },
  created() {
    this.specialProject = this.formData.value > 1500
  },
  methods: {
    updateCurrentStep() {
      this.$emit('eventupdatestep', 2)
    },
    eventResetForm() {
      this.$emit('eventupdatestep', 0)
    }
  }
};
</script>
