<template>
  <div class="row h-100 third-step">
    <div class="col-sm-12 align-self-center">
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
          <h3 class="title__shadow text-center text-white font-weight-bold">{{ title }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="full-bar">
            <div class="container">
              <div class="row mt-5">
                <div class="col-md-7 align-self-center">
                  <div class="message-target">
                    <h5 class="font-weight-bold">{{ subtitle }}</h5>
                    <p class="text-justify mt-4 text-muted">{{ message }}</p>
                  </div>
                </div>
                <div class="col align-self-end">
                  <b-button
                    @click="updateCurrentStep"
                    pill
                    variant="warning"
                    class="btn font-weight-bold float-right">
                    Calcular novamente
                  </b-button>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.third-step {
  .message-target {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: -20px;
      bottom: -12px;
      height: calc(100% + 24px);
      width: 8px;
      background: rgb(253,205,0);
    }
  }

  button {
    margin-bottom: 12px;
  }
}
</style>

<script>
export default {
  props: {
    title: {
      type: String,
      default:''
    },
    subtitle: {
      type: String,
      default:''
    },
    message: {
      type: String,
      default: ''
    }
  },
  data: () => ({}),
  methods: {
    updateCurrentStep() {
      this.$emit('eventupdatestep', 0)
    }
  }
};
</script>
