<template>
  <b-form
    id="form-calculation"
    @submit="onSubmit"
    novalidate
    :inline="inline"
    class="float-right">
    <div class="row" v-if="!inline">
      <div class="col-7">
        <b-form-group>
          <money
            class="form-input form-control mb-2 mr-sm-2 mb-sm-0"
            id="input-value"
            v-model="formData.value"
            required
          />
        </b-form-group>
      </div>
      <div class="col-5">
        <b-form-group v-if="!inline">
          <b-button
            type="submit"
            pill
            variant="warning"
            class="btn font-weight-bold float-right">
            Calcular
          </b-button>
        </b-form-group>
      </div>
    </div>

    <b-form-group v-if="!inline">
      <vue-google-autocomplete
        v-model="formData.city"
        ref="address"
        id="map"
        classname="form-control mb-2 mr-sm-2 mb-sm-0"
        placeholder="Entre com seu endereço"
        v-on:placechanged="getAddressData"
        v-on:error="handleError"
        required
        types="(cities)"
        country="br" />
        <small v-if="showAddressMessage && !inline" class="text-muted">
          Ou
          <a
            role="button"
            v-on:click="handleGetAddress"
            class="text-green font-weight-bolder">clique aqui</a>
          e utilize sua localização.
        </small>
    </b-form-group>

    <b-form-group v-if="!inline">
      <b-form-select
        class="mb-2 mr-sm-2 mb-sm-0"
        v-model="formData.cia"
        :value="null"
        :options="{ '1': 'CEMIG', '2': 'CEEE', '3': 'CIA Eletrica' }"
        id="inline-form-custom-select-pref"
        required
      >
        <option slot="first" :value="null">Selecione sua cia eletrica</option>
      </b-form-select>
    </b-form-group>

    <b-form-group v-if="inline">
      <b-button
        type="button"
        pill
        variant="warning"
        v-on:click="resetForm"
        class="btn font-weight-bold float-right">
        Alterar cálculo
      </b-button>
    </b-form-group>
  </b-form>
</template>

<style lang="scss" scoped>
a {
  cursor: pointer;
}
</style>

<script>
import VueGoogleAutocomplete from 'vue-google-autocomplete'

export default {
  components: { VueGoogleAutocomplete },
  props: {
    inline: {
      type: Boolean,
      default: false
    },
    formData: Object
  },
  data() {
    return {
      address: '',
      showAddressMessage: true
    }
  },
  mounted() {
    const self = this
    navigator.permissions.query({name:'geolocation'}).then((result) => {
      if (result.state === 'granted' || result.state === 'prompt') {
        self.handleGetAddress()
      } else {
        self.showAddressMessage = false
      }
    })
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      event.target.classList.add('was-validated')

      if (event.target.checkValidity()) {
        event.target.classList.remove('was-validated')
        this.$emit('eventsuccessform')
        return true
      }

      event.stopPropagation();
      return false
    },
    getAddressData(addressData, placeResultData, id) {
      this.address = addressData;
      this.formData.city = addressData.locality
    },
    handleError(error) {
      console.log('gmap error', error)
    },
    handleGetAddress() {
      this.$refs.address.geolocate()
    },
    resetForm() {
      this.$emit('eventresetform')
    }
  }
};
</script>
