<template>
  <b-form @submit="onSubmit" novalidate inline id="form-contact">
    <div class="col-md-4 pr-0">
      <b-form-group>
        <b-input
          class="w-100"
          v-model="formData.name"
          placeholder="Nome"
          required />
      </b-form-group>
    </div>

    <div class="col-md-4 pr-0">
      <b-form-group>
        <b-input
          class="w-100"
          v-model="formData.email"
          placeholder="E-mail"
          required />
      </b-form-group>
    </div>

    <div class="col-md-4 pr-0">
      <b-form-group>
        <the-mask
          placeholder="Telefone"
          class="form-input form-control mb-2 mr-sm-2 mb-sm-0 w-100"
          :mask="['(##) ####-####', '(##) #####-####']"
          required
          v-model="formData.phone" />
      </b-form-group>
    </div>

    <div class="col-md-8 mt-3 pr-0">
      <p class="font-weight-light text-muted">
        <small>Deixe seus dados. Entraremos em contato para prosseguir, finalizar sua compra e esclarecer suas dúvidas.</small>
      </p>
    </div>

    <div class="col-md-4 mt-3 pr-0">
      <b-form-group>
        <b-button type="submit" class="btn btn-block btn-custom">
          <small class="font-weight-bold">Quero economizar</small>
        </b-button>
      </b-form-group>
    </div>
  </b-form>
</template>

<style lang="scss" scoped>
#form-contact {
  .btn-custom {
    background-color: rgb(84,175,150);
    border-color: rgb(84,175,150);
  }
}
</style>

<script>
export default {
  props: {
    formData: Object
  },
  data: () =>  ({}),
  methods: {
    onSubmit(event) {
      event.preventDefault()
      event.target.classList.add('was-validated')

      if (event.target.checkValidity()) {
        event.target.classList.remove('was-validated')
        this.$emit('eventsuccessform')
        return true
      }

      event.stopPropagation();
      return false
    },
  }
};
</script>
