<template>
  <div id="header">
    <div class="row h-100 pt-4">
      <div class="col-md-9 align-self-end">
        <h3 class="title__shadow text-white font-weight-bold">{{ title }}</h3>
      </div>
      <div class="col align-self-center">
        <img
          src="../../assets/logo.png"
          class="img-fluid float-right"
          alt="Logo Ecovoltaica">
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#header {
  min-height: 120px;
  height: 15vh;
}
</style>

<script>
export default {
  props: {
    title: String
  }
};
</script>
