<template>
  <div id="loading-screen" class="text-center h-100 w-100">
    <div class="row h-100">
      <div class="col-sm-12 align-self-center">
        <b-spinner type="grow" class="text-green"></b-spinner>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#loading-screen {
  background: rgba($color: white, $alpha: .5);
  position: absolute;
  top: 0;
  z-index: 9999;
}
</style>

<script>
export default {

}
</script>
