<template>
  <div id="app" class="bg-img">
    <div class="container-fluid h-100 p-0">
      <div class="row">
        <div class="col">
          {{ form }}
        </div>
      </div>

      <LoadingScreen v-show="showLoading" />
      <FirstStepView
        v-show="currentStep === 1"
        @eventupdatestep="updateStep"
        :formData="form" />
      <SecondStepView
        v-show="currentStep === 2"
        @eventupdatestep="updateStep"
        :formData="form" />
      <ThirdStepView
        @eventupdatestep="updateStep"
        v-show="currentStep === 3"
        title="Pedido envido com sucesso!"
        subtitle="Excelente!"
        message="Agora é só aguardar que em até 72 horas nossa equipe entrará em contato com você."
        />
    </div>
  </div>
</template>

<script>
import FirstStepView from './components/views/FirstStepView'
import SecondStepView from './components/views/SecondStepView'
import ThirdStepView from './components/views/ThirdStepView'
import LoadingScreen from './components/widgets/LoadingScreen'

export default {
  name: 'App',
  components: {
    FirstStepView,
    SecondStepView,
    ThirdStepView,
    LoadingScreen
  },
  data: () => ({
    currentStep: 1,
    showLoading: false,
    form: {
      name: null,
      email: null,
      phone: null,
      value: 0,
      city: null,
      cia: null,
      paymentMethodSelected: null
    },
    thirdStep: {
      title: '',
      subtitle: '',
      message: ''
    }
  }),
  created() {
    this.setDefaultMessageThirdStep()
  },
  methods: {
    updateStep(step) {
      if (step === 0) {
        this.resetForm()
      }

      const self = this
      this.showLoading = !this.showLoading
      setTimeout(() => {
        self.showLoading = !self.showLoading
        self.currentStep = step+1
      }, 1000)
    },
    resetForm() {
      this.form = {
        name: null,
        email: null,
        phone: null,
        value: 0,
        city: null,
        cia: null,
        paymentMethodSelected: null
      }
    },
    setDefaultMessageThirdStep() {
      this.thirdStep.title = "Pedido enviado com sucesso!"
      this.thirdStep.subtitle = "Excelente!"
      this.thirdStep.message = "Agora é só aguardar que em até 72 horas nossa equipe entrará em contato com você."
    },
    setMaxMessageThirdStep() {
      this.thirdStep.title = "Pedido enviado com sucesso!"
      this.thirdStep.subtitle = "Pedido enviado!"
      this.thirdStep.message = "Agora é só aguardar que em até 72 horas nossa equipe entrará em contato para fazer um projeto personalizado devido a alta complexidade."
    }
  },
  computed: {
    formAux() {
      if (this.form.value > 1500) {
        this.setMaxMessageThirdStep()
      } else {
        this.setDefaultMessageThirdStep()
      }

      return this.form
    }
  }
};
</script>
