* {
  font-family: Verdana, Geneva, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

#app {
  .container {
    max-width: 860px;
  }

  small, .small {
    font-size: 70% !important;
  }

  .title__shadow {
    text-shadow: 0 0 10px rgba(0,0,0,.4);
  }

  .text-green {
    color: rgb(84,175,150) !important;
  }

  .text-yellow {
    color: rgb(253,205,0) !important;
  }

  &.bg-img {
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(110, 203, 178, .5),
      rgba(110, 203, 178, .5)),
      url('../bg.jpeg');
    background-size: cover;
  }

  #full-bar {
    min-height: 30vh;
    background: white;
    padding-top: 10px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0px;
      height: 5px;
      width: 100%;
      background: rgb(253,205,0);
    }

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid rgb(253,205,0);
    }
  }
}
